/Lesson_9/Lesson9/nbproject/private/
/Lesson_9/Lesson9/build/
/Lesson_13/EmployeeManager/nbproject/private/
/Lesson_13/EmployeeManager/build/
/Lesson_13/DemoL14/nbproject/private/
/Lesson_13/DemoL14/build/
/Lesson_14/App/nbproject/private/
/Lesson_14/App/build/
/Lesson_14/eCollege/nbproject/private/
/Lesson_14/eCollege/build/
/Lesson_8/H_W_L_8/nbproject/private/
/Lesson_8/H_W_L_8/build/
/ClassWork/App/nbproject/private/
/ClassWork/App/build/